In [1]:
import pandas as pd
data=pd.read_csv("titanic-passengers.csv", sep=";")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,Yes,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
887,61,No,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
888,535,No,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
889,102,No,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
890,428,Yes,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S

In [2]:
data.head(5)
pd.set_option('display.max_rows',None)
data
data.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,699,No,1,"Thayer, Mr. John Borland",male,49.0,1,1,17421,110.8833,C68,C
882,775,Yes,2,"Hocking, Mrs. Elizabeth (Eliza Needs)",female,54.0,1,3,29105,23.0000,NaN,S
883,809,No,2,"Meyer, Mr. August",male,39.0,0,0,248723,13.0000,NaN,S
884,278,No,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
885,150,No,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S
886,10,Yes,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
887,61,No,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
888,535,No,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
889,102,No,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
890,428,Yes,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S

In [3]:
#TO CHECK FOR NULL VALUES IN EACH COLUMN
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [5]:
data = data.rename({'SibSp': 'SiblingsandSpouse'}, axis=1)
data = data.rename({'Parch': 'ParentandChildren'}, axis=1)
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SiblingsandSpouse,ParentandChildren,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
5,105,No,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
6,576,No,3,"Patchett, Mr. George",male,19.0,0,0,358585,14.5000,NaN,S
7,382,Yes,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,2653,15.7417,NaN,C
8,228,No,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.2500,NaN,S
9,433,Yes,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.0,1,0,SC/AH 3085,26.0000,NaN,S

In [6]:
#FILLING EMPTY SPACES
data['Age'].value_counts()
data['Age']=data['Age'].fillna(data['Age'].mean())
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SiblingsandSpouse,ParentandChildren,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [7]:
data['Age'].value_counts()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PassengerId        891 non-null    int64
 1   Survived           891 non-null    object
 2   Pclass             891 non-null    int64
 3   Name               891 non-null    object
 4   Sex                891 non-null    object
 5   Age                891 non-null    float64
 6   SiblingsandSpouse  891 non-null    int64
 7   ParentandChildren  891 non-null    int64
 8   Ticket             891 non-null    object
 9   Fare               891 non-null    float64
 10  Cabin              204 non-null    object
 11  Embarked           889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [8]:
data['Age']=data['Age'].astype(int)
data['Age']

0      28
1      25
2      20
3      29
4      31
5      37
6      19
7       1
8      20
9      42
10     25
11     24
12     48
13     37
14     29
15     17
16     27
17     17
18     32
19     38
20     29
21     45
22     32
23     30
24     41
25     48
26     60
27     50
28     24
29     17
30     19
31     25
32     29
33     45
34     30
35     40
36     34
37     28
38     36
39      3
40     40
41     32
42     34
43     16
44     42
45     29
46     25
47      7
48     23
49     28
50     29
51     50
52     29
53     32
54     32
55     44
56     29
57     70
58     25
59     30
60     22
61     41
62     30
63     27
64      7
65     31
66     20
67     27
68     30
69     48
70     26
71     19
72     27
73     28
74     19
75     40
76     35
77     29
78     29
79     26
80     29
81     29
82      0
83     24
84     29
85     20
86     26
87     36
88     62
89     29
90     31
91     43
92     38
93     18
94     29
95     29
96     33
97     29
98     29
99     29
100    29
101    29
102     2
103    27
104    30
105    38
106    29
107    29
108    29
109    24
110    40
111     3
112    39
113    25
114    29
115    29
116    17
117    20
118    34
119    22
120    22
121    19
122    55
123    56
124    45
125    28
126    32
127    20
128    29
129    24
130    26
131    22
132    59
133    29
134    29
135    18
136    25
137    32
138    45
139    24
140    45
141    27
142    38
143    22
144    62
145    33
146    29
147    58
148    26
149    29
150    22
151    29
152    43
153     2
154    65
155    31
156    29
157    20
158     2
159    29
160    43
161    42
162    28
163    24
164    40
165     9
166     1
167    51
168    54
169    29
170    29
171    29
172    44
173    28
174    17
175    14
176    29
177    42
178    34
179    18
180    45
181    30
182    16
183    45
184    13
185    33
186    21
187    46
188     3
189    48
190    33
191    28
192    28
193     4
194     2
195    32
196     9
197    39
198    28
199    30
200    29
201    21
202    29
203    29
204    49
205    18
206    24
207    29
208    44
209    47
210    29
211    25
212    20
213    42
214    23
215     9
216    16
217    18
218    19
219    44
220    19
221    16
222    29
223    22
224    42
225    54
226     7
227    19
228     4
229    45
230    29
231    58
232     2
233    24
234    74
235    34
236    44
237    21
238    24
239    29
240    29
241    56
242    29
243    29
244    22
245    39
246    28
247    14
248    31
249    19
250    23
251    31
252    41
253    30
254    11
255    29
256    29
257     4
258    29
259    40
260    35
261    19
262    51
263    24
264    21
265    49
266    36
267    38
268     6
269    29
270    21
271    34
272    30
273    36
274    29
275    23
276    19
277    29
278    22
279    29
280    40
281    45
282    21
283    36
284    33
285    16
286    29
287    35
288    19
289    22
290    26
291    22
292    29
293    21
294    22
295    29
296    22
297    25
298    38
299     4
300    29
301    39
302    16
303    27
304    34
305    39
306    29
307    31
308    29
309    29
310    29
311    29
312    44
313    14
314    16
315    30
316    24
317    18
318    26
319    21
320    24
321    55
322    21
323    26
324    44
325    24
326    29
327    33
328    28
329    16
330    30
331    32
332    21
333    29
334    41
335    22
336    35
337    42
338    29
339    20
340     2
341    36
342    39
343    29
344    42
345    21
346    29
347    18
348    36
349    38
350    14
351    25
352    14
353    16
354    35
355    27
356    29
357    29
358    24
359    18
360     2
361    29
362    33
363    36
364    29
365    29
366    29
367    35
368    25
369    21
370     2
371    29
372    29
373    17
374    18
375    22
376     5
377    24
378    29
379    20
380    29
381    29
382    30
383    65
384     1
385    51
386    32
387    15
388    29
389    23
390    47
391    29
392    21
393    22
394    29
395    29
396    62
397    47
398    48
399    38
400    17
401    35
402    19
403    22
404    24
405    29
406    29
407    35
408    48
409     9
410     4
411    50
412    45
413     8
414    29
415    26
416    57
417    36
418    32
419    23
420    18
421    42
422    54
423    29
424    31
425    29
426     3
427    29
428    30
429    29
430    10
431    35
432    32
433    19
434    31
435    29
436    16
437    39
438    25
439    29
440    54
441    39
442    24
443    31
444    29
445    24
446    29
447    36
448    26
449    25
450    32
451    29
452    38
453    40
454    15
455    29
456    29
457    33
458    34
459    58
460    43
461    22
462    34
463    29
464    45
465    31
466    16
467    42
468     9
469    18
470    29
471    24
472    19
473    36
474    65
475    29
476    15
477    29
478    18
479    34
480    29
481    23
482     0
483    21
484    51
485    28
486     5
487    64
488    40
489    31
490    40
491    29
492    35
493    63
494    32
495    29
496    64
497    29
498    29
499    29
500    22
501    29
502    32
503    28
504    26
505    27
506    35
507    29
508    17
509    22
510     3
511    20
512    33
513    63
514    18
515    32
516    46
517     9
518    27
519    31
520    48
521    38
522    21
523    61
524    29
525     2
526    29
527    28
528    29
529    30
530    29
531    29
532    24
533    18
534    25
535    33
536    80
537    18
538     1
539    33
540    21
541    29
542    19
543    36
544    25
545    16
546    32
547    24
548    29
549    29
550    17
551    43
552    23
553    46
554    29
555    30
556    24
557    35
558    44
559    33
560    29
561    29
562    17
563    36
564     1
565    28
566    19
567    29
568    54
569    66
570    16
571    16
572    29
573    61
574    29
575    23
576    29
577     8
578    29
579    29
580    58
581    56
582    29
583     0
584    29
585     0
586    21
587    30
588    71
589    16
590    29
591    29
592    19
593     4
594    39
595    29
596    29
597    34
598    37
599    29
600    30
601    48
602    37
603    24
604    31
605    26
606    29
607    15
608    24
609    29
610    36
611    25
612    39
613    18
614    18
615    29
616    42
617    28
618    17
619     4
620    40
621     8
622    50
623    29
624    28
625    40
626    45
627    35
628    29
629    36
630    29
631    35
632    20
633    28
634     9
635    39
636    20
637     0
638    29
639    18
640    34
641    18
642    29
643    19
644    17
645    35
646    23
647    29
648    29
649    31
650    36
651    22
652    29
653    26
654    30
655    21
656    23
657    17
658    30
659    49
660    29
661    27
662    21
663    23
664    60
665    25
666    40
667    29
668    41
669    21
670    18
671    18
672    29
673    11
674    27
675    36
676    29
677    29
678    30
679    29
680    29
681    47
682    49
683    47
684    29
685    52
686    26
687    37
688    27
689    70
690    34
691    21
692    32
693    36
694    21
695     6
696    62
697    56
698    29
699    44
700    52
701    19
702     1
703    26
704    71
705    28
706    29
707    33
708    21
709    51
710    30
711    29
712    29
713     0
714    29
715    54
716    18
717    29
718    28
719    29
720    29
721    50
722    24
723    32
724    47
725    31
726    59
727    49
728    40
729    38
730    47
731    47
732    52
733    20
734    30
735    18
736    28
737    35
738    50
739    27
740    60
741    22
742    42
743    34
744    52
745    16
746    25
747    57
748    27
749    36
750    45
751    28
752    50
753    24
754    25
755    33
756    29
757    41
758    35
759    22
760    29
761    21
762    53
763    15
764     0
765    37
766    29
767    29
768    24
769     6
770    16
771    34
772    29
773    28
774    29
775    60
776    29
777     9
778    18
779    10
780    29
781     5
782    34
783    50
784    29
785    35
786    26
787    29
788    24
789    18
790    29
791    30
792    29
793    23
794    25
795    22
796    24
797    19
798    45
799    25
800    19
801    29
802    23
803    27
804    29
805    13
806    11
807     4
808    26
809    12
810    36
811    30
812     8
813    29
814    26
815    28
816    50
817    24
818     4
819    29
820    28
821    61
822    39
823    29
824    29
825    29
826    29
827    29
828    52
829    51
830     5
831    29
832    14
833    52
834    36
835    36
836    33
837    20
838    50
839    29
840    25
841    36
842    22
843    55
844    19
845    23
846    23
847    19
848    27
849    20
850    29
851    28
852    70
853    29
854    22
855    40
856     1
857    54
858    29
859    27
860     2
861    31
862     4
863    51
864    30
865    58
866    29
867    48
868    29
869    29
870    32
871    39
872    25
873    29
874    11
875    47
876     3
877    29
878    18
879    29
880    29
881    49
882    54
883    39
884    29
885    42
886    14
887    22
888    30
889    29
890    19
Name: Age, dtype: int64

In [9]:
dataT=data.copy()

In [10]:
data.drop('Cabin',axis=1,inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PassengerId        891 non-null    int64
 1   Survived           891 non-null    object
 2   Pclass             891 non-null    int64
 3   Name               891 non-null    object
 4   Sex                891 non-null    object
 5   Age                891 non-null    int64
 6   SiblingsandSpouse  891 non-null    int64
 7   ParentandChildren  891 non-null    int64
 8   Ticket             891 non-null    object
 9   Fare               891 non-null    float64
 10  Embarked           889 non-null    object
dtypes: float64(1), int64(5), object(5)
memory usage: 76.7+ KB

In [11]:
data['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [12]:
data.isnull().sum()

PassengerId          0
Survived             0
Pclass               0
Name                 0
Sex                  0
Age                  0
SiblingsandSpouse    0
ParentandChildren    0
Ticket               0
Fare                 0
Embarked             2
dtype: int64

In [13]:
data['Embarked']=data['Embarked'].fillna('Q')
data['Embarked'].value_counts()

Embarked
S    644
C    168
Q     79
Name: count, dtype: int64

In [14]:
data.duplicated().sum()

np.int64(0)

DEFINE A FUNCTION TO EXTRACT THE TITLE, FIRST NAME AND LAST NAME

In [15]:
def extract_name_components(name):
    #Split the name by comma to separate the last name from the rest
    last_name,rest_of_name=name.split(',',1)


    #split the rest of the name by spaces to separate title and first name
    name_parts=rest_of_name.strip().split(' ')

    #Extract title
    title=name_parts[0]

    #First name might have multiple parts,so join them except title
    first_name=' '.join(name_parts[1:])

    #Clean up any extra characters from first name
    first_name= first_name.replace('(','').replace(')','')

    return title,first_name,last_name.strip()

In [16]:
#Apply the function to the name column
data['Title'],data['First Name'],data['Last Name']=zip(*data['Name'].map(extract_name_components))
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SiblingsandSpouse,ParentandChildren,Ticket,Fare,Embarked,Title,First Name,Last Name
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28,0,0,248740,13.0000,S,Mr.,Erik Gustaf,Collander
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.6500,S,Mr.,Sigurd Hansen,Moen
2,641,No,3,"Jensen, Mr. Hans Peder",male,20,0,0,350050,7.8542,S,Mr.,Hans Peder,Jensen
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29,0,4,349909,21.0750,S,Mrs.,Nils Alma Cornelia Berglund,Palsson
4,672,No,1,"Davidson, Mr. Thornton",male,31,1,0,F.C. 12750,52.0000,S,Mr.,Thornton,Davidson

In [17]:
data.drop('Name',axis=1,inplace=True)
data.head(5)

,PassengerId,Survived,Pclass,Sex,Age,SiblingsandSpouse,ParentandChildren,Ticket,Fare,Embarked,Title,First Name,Last Name
0,343,No,2,male,28,0,0,248740,13.0000,S,Mr.,Erik Gustaf,Collander
1,76,No,3,male,25,0,0,348123,7.6500,S,Mr.,Sigurd Hansen,Moen
2,641,No,3,male,20,0,0,350050,7.8542,S,Mr.,Hans Peder,Jensen
3,568,No,3,female,29,0,4,349909,21.0750,S,Mrs.,Nils Alma Cornelia Berglund,Palsson
4,672,No,1,male,31,1,0,F.C. 12750,52.0000,S,Mr.,Thornton,Davidson

In [18]:
data['Name']=data['Title']+' '+data['First Name']+' '+data['Last Name']
data.head(5)

,PassengerId,Survived,Pclass,Sex,Age,SiblingsandSpouse,ParentandChildren,Ticket,Fare,Embarked,Title,First Name,Last Name,Name
0,343,No,2,male,28,0,0,248740,13.0000,S,Mr.,Erik Gustaf,Collander,Mr. Erik Gustaf Collander
1,76,No,3,male,25,0,0,348123,7.6500,S,Mr.,Sigurd Hansen,Moen,Mr. Sigurd Hansen Moen
2,641,No,3,male,20,0,0,350050,7.8542,S,Mr.,Hans Peder,Jensen,Mr. Hans Peder Jensen
3,568,No,3,female,29,0,4,349909,21.0750,S,Mrs.,Nils Alma Cornelia Berglund,Palsson,Mrs. Nils Alma Cornelia Berglund Palsson
4,672,No,1,male,31,1,0,F.C. 12750,52.0000,S,Mr.,Thornton,Davidson,Mr. Thornton Davidson

In [19]:
data.drop(['Title','First Name', 'Last Name'],axis=1,inplace=True)
data.head(5)

,PassengerId,Survived,Pclass,Sex,Age,SiblingsandSpouse,ParentandChildren,Ticket,Fare,Embarked,Name
0,343,No,2,male,28,0,0,248740,13.0000,S,Mr. Erik Gustaf Collander
1,76,No,3,male,25,0,0,348123,7.6500,S,Mr. Sigurd Hansen Moen
2,641,No,3,male,20,0,0,350050,7.8542,S,Mr. Hans Peder Jensen
3,568,No,3,female,29,0,4,349909,21.0750,S,Mrs. Nils Alma Cornelia Berglund Palsson
4,672,No,1,male,31,1,0,F.C. 12750,52.0000,S,Mr. Thornton Davidson

MACHINE LEARNING

In [20]:
data.head()

,PassengerId,Survived,Pclass,Sex,Age,SiblingsandSpouse,ParentandChildren,Ticket,Fare,Embarked,Name
0,343,No,2,male,28,0,0,248740,13.0000,S,Mr. Erik Gustaf Collander
1,76,No,3,male,25,0,0,348123,7.6500,S,Mr. Sigurd Hansen Moen
2,641,No,3,male,20,0,0,350050,7.8542,S,Mr. Hans Peder Jensen
3,568,No,3,female,29,0,4,349909,21.0750,S,Mrs. Nils Alma Cornelia Berglund Palsson
4,672,No,1,male,31,1,0,F.C. 12750,52.0000,S,Mr. Thornton Davidson

In [21]:
data=data.drop(columns=['PassengerId'])
data.head()

,Survived,Pclass,Sex,Age,SiblingsandSpouse,ParentandChildren,Ticket,Fare,Embarked,Name
0,No,2,male,28,0,0,248740,13.0000,S,Mr. Erik Gustaf Collander
1,No,3,male,25,0,0,348123,7.6500,S,Mr. Sigurd Hansen Moen
2,No,3,male,20,0,0,350050,7.8542,S,Mr. Hans Peder Jensen
3,No,3,female,29,0,4,349909,21.0750,S,Mrs. Nils Alma Cornelia Berglund Palsson
4,No,1,male,31,1,0,F.C. 12750,52.0000,S,Mr. Thornton Davidson

In [22]:
data=data.drop(columns=['Name','Ticket','Embarked'])

In [23]:
data.head()

  Survived  Pclass     Sex  Age  SiblingsandSpouse  ParentandChildren     Fare
0       No       2    male   28                  0                  0  13.0000
1       No       3    male   25                  0                  0   7.6500
2       No       3    male   20                  0                  0   7.8542
3       No       3  female   29                  0                  4  21.0750
4       No       1    male   31                  1                  0  52.0000

In [24]:
data['Survived'] = data['Survived'].replace({'Yes': 1, 'No': 0})

C:\Users\HP\AppData\Local\Temp\ipykernel_8980\2294183124.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Survived'] = data['Survived'].replace({'Yes': 1, 'No': 0})

In [25]:
data.head()

,Survived,Pclass,Sex,Age,SiblingsandSpouse,ParentandChildren,Fare
0,0,2,male,28,0,0,13.0000
1,0,3,male,25,0,0,7.6500
2,0,3,male,20,0,0,7.8542
3,0,3,female,29,0,4,21.0750
4,0,1,male,31,1,0,52.0000

In [26]:
data['Sex'] = data['Sex'].replace({'male': 1, 'female': 0})

C:\Users\HP\AppData\Local\Temp\ipykernel_8980\474340308.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Sex'] = data['Sex'].replace({'male': 1, 'female': 0})

In [27]:
data.head()
data['Sex'] = data['Sex'].replace({'male': 1, 'female': 0})

In [28]:
data.head()

   Survived  Pclass  Sex  Age  SiblingsandSpouse  ParentandChildren     Fare
0         0       2    1   28                  0                  0  13.0000
1         0       3    1   25                  0                  0   7.6500
2         0       3    1   20                  0                  0   7.8542
3         0       3    0   29                  0                  4  21.0750
4         0       1    1   31                  1                  0  52.0000

#ALTERNATIVE WAY TO ENCODE
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
data['Sex']=le.fit_transform(data['Sex'])

In [29]:
from sklearn.preprocessing import StandardScaler
import numpy as np

sc=StandardScaler()
data['Fare']=sc.fit_transform(np.array(data['Fare']).reshape(-1,1))

In [30]:
data.head()

   Survived  Pclass  Sex  Age  SiblingsandSpouse  ParentandChildren      Fare
0         0       2    1   28                  0                  0 -0.386671
1         0       3    1   25                  0                  0 -0.494391
2         0       3    1   20                  0                  0 -0.490280
3         0       3    0   29                  0                  4 -0.224083
4         0       1    1   31                  1                  0  0.398582

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Survived           891 non-null    int64
 1   Pclass             891 non-null    int64
 2   Sex                891 non-null    int64
 3   Age                891 non-null    int64
 4   SiblingsandSpouse  891 non-null    int64
 5   ParentandChildren  891 non-null    int64
 6   Fare               891 non-null    float64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB

In [32]:
data.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SiblingsandSpouse',
       'ParentandChildren', 'Fare'],
      dtype='object')

In [33]:
X=data[['Pclass', 'Sex', 'Age', 'SiblingsandSpouse',
       'ParentandChildren', 'Fare']]
Y=data['Survived']

In [34]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=20)

In [35]:
X_test.head()

     Pclass  Sex  Age  SiblingsandSpouse  ParentandChildren      Fare
347       2    1   18                  0                  0  0.831478
674       3    0   27                  0                  1 -0.397241
791       1    0   30                  0                  0  0.497830
836       3    1   33                  0                  0 -0.457142
56        1    1   29                  0                  0 -0.030371

In [36]:
data.corr()

,Survived,Pclass,Sex,Age,SiblingsandSpouse,ParentandChildren,Fare
Survived,1.000000,-0.338481,-0.543351,-0.067809,-0.035322,0.081629,0.257307
Pclass,-0.338481,1.000000,0.131900,-0.335071,0.083081,0.018443,-0.549500
Sex,-0.543351,0.131900,1.000000,0.082533,-0.114631,-0.245489,-0.182333
Age,-0.067809,-0.335071,0.082533,1.000000,-0.232743,-0.176744,0.093856
SiblingsandSpouse,-0.035322,0.083081,-0.114631,-0.232743,1.000000,0.414838,0.159651
ParentandChildren,0.081629,0.018443,-0.245489,-0.176744,0.414838,1.000000,0.216225
Fare,0.257307,-0.549500,-0.182333,0.093856,0.159651,0.216225,1.000000

LOGISTIC REGRESSION

In [37]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

In [38]:
computer_prediction=model.predict(X_test)

In [39]:
computer_prediction

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0])

In [40]:
np.array(Y_test)

array([0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0])

In [41]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(computer_prediction,Y_test)

In [42]:
accuracy

0.8283582089552238

In [43]:
from sklearn.metrics import r2_score

In [44]:
R2=r2_score(computer_prediction,Y_test)

In [45]:
R2

0.286574074074074

In [46]:
from sklearn.metrics import f1_score

In [47]:
f1=f1_score(computer_prediction,Y_test)

In [48]:
f1

0.780952380952381

In [49]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(computer_prediction,Y_test)

In [50]:
cm

array([[140,  20],
       [ 26,  82]])

In [51]:
from sklearn.tree import DecisionTreeClassifier
DT=DecisionTreeClassifier()
DT.fit(X_train,Y_train)

DecisionTreeClassifier()

In [52]:
Result=DT.predict(X_test)

In [53]:
Result

array([0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0])

In [54]:
Result=DT.predict(X_test)

In [55]:
Result=DT.predict(X_test)

In [56]:
accuracy

0.8283582089552238

In [57]:
from sklearn import svm

SV = svm.SVC()

SV.fit(X_train, Y_train)

SVC()

In [58]:
computer_Result=model.predict(X_test)

In [59]:
computer_Result

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0])